doctype html
html(lang="zh-CN")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		each style in ["lib.css", "main.css"]
			link(rel="stylesheet" href="css/"+ style)
		block title
			title angular
	body
		block content
			p this is template using angular
		each script in ["lib.js", "index.js"]
				script(src="js/" + script)
		//- 内联脚本
		block inline-script
