doctype html
html(lang="zh_CN" ng-app="app")
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	block title
		title Agularjs 框架
	link(rel="shortcut icon" href="images/one-pounch-man.png")
	link(href="styles/bootstrap.min.css" rel="stylesheet")
	link(href="styles/main.css" rel="stylesheet")
	body
		block content
			p.lead.text-primary.
				Angular js in action, 修改layout.pug中的"ng-app"
				, CSS位置：src/styles/main.css

		script(src="scripts/lib.js")
		script(src="scripts/app.js")